<div class="overlay-container">
    <div class="overlay">
        <form id="creditorForm">
            <div class="div-box w3-light-gray w3-card-4 margin-auto"
                style="display: block; width: 99.5%; margin-top: 4px;">
                <header class="w3-container main-bg-color div-title clearfix">
                    <div class="clearfix">
                        <h2 class="ledger-title" style="float: left">{{title}}</h2>
                        <button id="ctorPrint" style="margin-right: 12px; float: right;"
                            class="w3-xlarge w3-circle w3-white circle-btn PDF_Btn" disabled><i
                                class="fa fa-print"></i></button>
                        <button onclick="exportExcel()" style="margin-right: 12px; float: right;"
                            class="w3-xlarge w3-circle w3-white circle-btn"><i class="fa fa-file"></i></button>
                    </div>
                </header>
                <div class="w3-container ledger-header flex" style="overflow: auto; white-space: nowrap;">
                    <div>
                        <label>Account Type</label>
                        <input id="atype" class="w3-input w3-border" type="text" value="Debit" disabled>
                    </div>
                    <div style="width: 500px;">
                        <label>Date From</label>
                        <input id="ctorDataForm" class="w3-input w3-border" type="text" ng-model="fromDateEx"
                            placeholder="DD-Mon-YY">
                    </div>
                    <div style="width: 500px;">
                        <label>Date To</label>
                        <input id="dateto" class="w3-input w3-border" type="text" ng-model="toDateEx"
                            placeholder="DD-Mon-YY">
                    </div>
                    <div>
                        <label>Account Code</label>
                        <input id="ACCodeS" class="w3-input w3-border" type="text" onkeyup="ACNameComplete(event)"
                            value="{{qCode}}">
                    </div>
                    <div>
                        <label>Account Name</label>
                        <input id="aname" class="w3-input w3-border" type="text" value="{{qName}}" disabled>
                    </div>
                    <div>
                        <label style="display: block">&nbsp;</label>
                        <button ng-click="debitTaker($event);" class="w3-btn main-bg-color">Calculate</button>
                    </div>
                </div>
                <div class="clearfix" style="height: 4px;"></div>
            </div>
        </form>
        <!-- Head Table -->
        <div class="margin-auto" style="width: 99.5%; margin-top: 3px; margin-bottom: 0px;">
            <div class="w3-card-4 table-container">
                <div class="ch-table-content">
                    <div class="w3-responsive">
                        <table class="w3-table-all ledger-table">
                            <thead>
                                <tr class="main-bg-color">
                                    <th></th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Begining Balance</td>
                                    <td id="begc" style="text-align: right;">{{comNum(begBal + arrTotal(preRecords,
                                        preRecords.length - 1, 0))}}</td>
                                    <td id="begd" style="text-align: right;">_____</td>
                                    <td id="begb" style="text-align: right;">{{comNum(begBal + arrTotal(preRecords,
                                        preRecords.length - 1, 0))}}</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td id="totd" style="text-align: right;">{{comNum(arrTotal(records, records.length
                                        -
                                        1, 1))}}</td>
                                    <td id="totc" style="text-align: right;">{{comNum(-1 * arrTotal(records,
                                        records.length -
                                        1,
                                        2))}}</td>
                                    <td id="totb" style="text-align: right;">{{comNum(begBal + arrTotal(records,
                                        records.length - 1, 0))}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Debits Table -->
        <div class="margin-auto chart-box" style="width: 99.5%;">
            <section class="clearfix">
                <label class="ch-title mian-color w3-large ex-font"
                    style="float: left; margin-top: 1px;">Records</label>
            </section>
            <div class="w3-card-4 table-container">
                <div class="ch-table-content">
                    <div class="w3-responsive">
                        <table class="w3-table-all ledger-table">
                            <thead>
                                <tr class="main-bg-color">
                                    <th>No</th>
                                    <th>EN</th>
                                    <th>VN</th>
                                    <th>Date</th>
                                    <th>Party Code</th>
                                    <th>Party Name</th>
                                    <th>A/C Code</th>
                                    <th>A/C Name</th>
                                    <th>SU</th>
                                    <th>PS</th>
                                    <th>NOP</th>
                                    <th>TQ</th>
                                    <th>SUP</th>
                                    <th>Debit Amount</th>
                                    <th>Credit Amount</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="rec in records track by $index">
                                    <td>{{$index + 1}}</td>
                                    <td>{{rec.entryNo}}</td>
                                    <td>{{rec.voucherNo}}</td>
                                    <td>{{numToDate(rec.date)}}</td>
                                    <td>{{rec.partyCode}}</td>
                                    <td>{{rec.partyName}}</td>
                                    <td>{{rec.ACCode}}</td>
                                    <td>{{rec.ACName}}</td>
                                    <td>{{rec.stdUnit}}</td>
                                    <td>{{rec.packSize}}</td>
                                    <td>{{rec.packs}}</td>
                                    <td>{{rec.totalQuantity}}</td>
                                    <td>{{rec.stdUnitPrice}}</td>
                                    <td ng-if="rec.type == 'Dr'" style="text-align: right;">
                                        {{comNum(rec.drAmount)}}</td>
                                    <td ng-if="rec.type == 'Dr'" style="text-align: right;">_____</td>
                                    <td ng-if="rec.type == 'Cr'" style="text-align: right;">_____</td>
                                    <td ng-if="rec.type == 'Cr'" style="text-align: right;">
                                        {{comNum(rec.crAmount)}}</td>
                                    <td style="text-align: right;">
                                        {{comNum(begBal + arrTotal(preRecords, preRecords.length - 1, 0) + arrTotal(records, $index, 0))}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div ng-show="!load" class="w3-pale-blue" style="padding: 12px; text-align: center;"><img src="img/loader.gif"
                                alt="Loading..." style="height: 25px; width: 25px;"></div>
                        <div id="nodata" ng-show="nodata" class="w3-pale-blue" style="padding: 12px; text-align: center;">No
                            Data Found!</div> -->
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="recShow" class="clearfix">
            <button ng-click="sendMail();" class="w3-btn main-bg-color"
                style="float: right; margin-right: 0.5%; margin-bottom: 12px;">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{qEmail}}
            </button>
        </div>
        <!-- Debit Table End -->
    </div>
</div>
<!-- Excel Table -->
<table id="excelTable" style="display: none;">
    <tr>
        <td>Account Type</td>
        <td>Debit</td>
    </tr>
    <tr>
        <td>From Date</td>
        <td>{{fromDateEx}}</td>
    </tr>
    <tr>
        <td>To Date</td>
        <td>{{toDateEx}}</td>
    </tr>
    <tr>
        <td>Account Code</td>
        <td id="acCodeEx"></td>
    </tr>
    <tr>
        <td>Account Name</td>
        <td id="acNameEx"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Begining Balance</td>
        <td>{{comNum(begBal + arrTotal(preRecords,
            preRecords.length - 1, 0))}}</td>
        <td>_____</td>
        <td>{{comNum(begBal + arrTotal(preRecords,
            preRecords.length - 1, 0))}}</td>
    </tr>
    <tr>
        <td>Total</td>
        <td>{{comNum(arrTotal(records, records.length
            -
            1, 1))}}</td>
        <td>{{comNum(-1 * arrTotal(records,
            records.length -
            1,
            2))}}</td>
        <td>{{comNum(begBal + arrTotal(records,
            records.length - 1, 0))}}</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="11">Records</td>
    </tr>
    <tr>
        <th>No</th>
        <th>EN</th>
        <th>VN</th>
        <th>Date</th>
        <th>Party Code</th>
        <th>Party Name</th>
        <th>A/C Code</th>
        <th>A/C Name</th>
        <th>SU</th>
        <th>PS</th>
        <th>NOP</th>
        <th>TQ</th>
        <th>SUP</th>
        <th>Debit Amount</th>
        <th>Credit Amount</th>
        <th>Balance</th>
    </tr>
    <tr ng-repeat="rec in records track by $index">
        <td>{{$index + 1}}</td>
        <td>{{rec.entryNo}}</td>
        <td>{{rec.voucherNo}}</td>
        <td>{{numToDate(rec.date)}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].partyCode}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].partyCode}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].partyName}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].partyName}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].ACCode}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].ACCode}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].ACName}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].ACName}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].stdUnit}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].stdUnit}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].packSize}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].packSize}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].packs}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].packs}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].totalQuantity}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].totalQuantity}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].stdUnitPrice}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].stdUnitPrice}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[0]" style="text-align: right;">
            {{comNum(rec.debitCredit[0].drAmount)}}</td>
        <td ng-if="rec.sCode == rec.partyCodes[0]" style="text-align: right;">_____</td>
        <td ng-if="rec.sCode == rec.partyCodes[1]" style="text-align: right;">_____</td>
        <td ng-if="rec.sCode == rec.partyCodes[1]" style="text-align: right;">
            {{comNum(rec.debitCredit[1].crAmount)}}</td>
        <td style="text-align: right;">{{comNum(begBal + arrTotal(records, $index,
                                        0))}}</td>
    </tr>
</table>
<!-- Excel Tabel End -->
<!-- Pdf print hide table...........start.................. -->
<div style="display: none;">
    <table border="1" cellspacing="0" style="visibility: hidden;" id="creditorPdfTable">
        <tr>
            <td colspan="16" style="text-align: center; height: 50px; font-size: 25px;">
                <img style="width: 50px; height: 50px; float: left;"
                    src="http://testing.afsanajasi.com/Rahman/img/logo3.png"> <span>DEBTOR LEDGER</span>
                <img style="width: 50px; height: 50px; float: right;"
                    src="http://testing.afsanajasi.com/Rahman/img/logo32.png">
            </td>
        </tr>
        <tr>
            <th>ACCOUNT TYPE</th>
            <th colspan="2">DATE FROM</th>
            <th colspan="2">DATE TO</th>
            <th>ACCOUNT CODE</th>
            <th colspan="3">ACCOUNT NAME</th>
            <th colspan="7"></th>

        </tr>
        <tr>
            <td id="at"></td>
            <td colspan="2" id="df"></td>
            <td colspan="2" id="dt"></td>
            <td id="ac"></td>
            <td colspan="3" id="an"></td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td colspan="16" style="text-align: center; height: 20px; font-size: 25px;"></td>
        </tr>
        <tr>
            <td>---</td>
            <td colspan="2">DEBIT</td>
            <td colspan="2">CREDIT</td>
            <td colspan="3">BALANCE</td>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td>BEDINNING BALANCE</td>
            <td colspan="2" id="bd" style="text-align: right;"></td>
            <td colspan="2" id="bc" style="text-align: right;"></td>
            <td colspan="3" id="bb" style="text-align: right;"></td>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td>TOTAL</td>
            <td colspan="2" id="td" style="text-align: right;"></td>
            <td colspan="2" id="tc" style="text-align: right;"></td>
            <td colspan="3" id="tb" style="text-align: right;"></td>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td colspan="16" style="text-align: center; height: 30px; font-size: 25px;"><span>RECORDS</span></td>
        </tr>
        <tr class="main-bg-color">
            <th>No</th>
            <th>EN</th>
            <th>VN</th>
            <th>Date</th>
            <th>Party Code</th>
            <th>Party Name</th>
            <th>A/C Code</th>
            <th>A/C Name</th>
            <th>SU</th>
            <th>PS</th>
            <th>NOP</th>
            <th>TQ</th>
            <th>SUP</th>
            <th>Debit Amount</th>
            <th>Credit Amount</th>
            <th>Balance</th>
        </tr>
        <tr ng-repeat="rec in records track by $index">
            <td>{{$index + 1}}</td>
            <td>{{rec.entryNo}}</td>
            <td>{{rec.voucherNo}}</td>
            <td>{{numToDate(rec.date)}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].partyCode}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].partyCode}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].partyName}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].partyName}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].ACCode}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].ACCode}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].ACName}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].ACName}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].stdUnit}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].stdUnit}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].packSize}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].packSize}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].packs}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].packs}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].totalQuantity}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].totalQuantity}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[0]">{{rec.debitCredit[1].stdUnitPrice}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[1]">{{rec.debitCredit[0].stdUnitPrice}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[0]" style="text-align: right;">
                {{comNum(rec.debitCredit[0].drAmount)}}</td>
            <td ng-if="rec.sCode == rec.partyCodes[0]" style="text-align: right;">_____</td>
            <td ng-if="rec.sCode == rec.partyCodes[1]" style="text-align: right;">_____</td>
            <td ng-if="rec.sCode == rec.partyCodes[1]" style="text-align: right;">
                {{comNum(rec.debitCredit[1].crAmount)}}</td>
            <td style="text-align: right;">{{comNum(begBal + arrTotal(records, $index,
                0))}}</td>
        </tr>
    </table>
</div>
<!-- Pdf print hide table...........end.................. -->
<script>
    $js('ctorDataForm').focus();
    function ACNameComplete(event) {
        event.target.value = $.trim(event.target.value).toUpperCase();
        getPartyNameOrBal(
            event.target.value,
            'name',
            function (res) {
                event.target.parentElement.nextElementSibling.lastElementChild.value = res.data[0].name;
            },
            function (err) {
                event.target.parentElement.nextElementSibling.lastElementChild.value = 0;
            }
        );
    }

    $js("creditorForm").addEventListener("submit", function (event) {
        event.preventDefault();
    });

    function exportExcel() {
        $js('acCodeEx').innerHTML = $js('ACCodeS').value;
        let wb = XLSX.utils.book_new();
        let ledger = XLSX.utils.table_to_sheet($js('excelTable'), { cellDates: true });
        XLSX.utils.book_append_sheet(wb, ledger, 'Debtor Ledger'.toUpperCase());
        let wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'Debtor_Ledger.xlsx');
    }
    //pdf making and save............................Start....................
    $('.PDF_Btn').click(function () {
        location.reload();
        ///--------------------------------
        $js('at').innerHTML = $js('atype').value;
        $js('df').innerHTML = $js('ctorDataForm').value;
        $js('dt').innerHTML = $js('dateto').value;
        $js('ac').innerHTML = $js('ACCodeS').value;
        $js('an').innerHTML = $js('aname').value;
        ////-------------------------------------
        $js('bd').innerHTML = $js('begd').innerHTML;
        $js('bc').innerHTML = $js('begc').innerHTML;
        $js('bb').innerHTML = $js('begb').innerHTML;
        $js('td').innerHTML = $js('totd').innerHTML;
        $js('tc').innerHTML = $js('totc').innerHTML;
        $js('tb').innerHTML = $js('totb').innerHTML;
        ///--------------------------------------------
        $js('creditorPdfTable').style.visibility = "visible";
        var printme = document.getElementById('creditorPdfTable');
        var wme = window.open("", "", "width=900,height=900");
        wme.document.write(printme.outerHTML);
        wme.document.close();
        wme.focus();
        wme.print();
        wme.close();
        $js('creditorPdfTable').style.visibility = "hidden";

    })
    //pdf making and save............................End......................
    //Print in Landscape...........start........
    var css = '@page { size: landscape; }',
        head = document.head || document.getElementsByTagName('head')[0],
        style = document.createElement('style');

    style.type = 'text/css';
    style.media = 'print';

    if (style.styleSheet) {
        style.styleSheet.cssText = css;
    } else {
        style.appendChild(document.createTextNode(css));
    }

    head.appendChild(style);
    //Print in Landscape...........end........


</script>