<div class="overlay-container">
    <div class="overlay">
        <div class="div-box w3-light-gray w3-card-4 margin-auto" style="display: block; width: 99.5%; margin-top: 4px;">
            <header class="w3-container main-bg-color div-title clearfix">
                <div class="clearfix">
                    <h2 class="ledger-title" style="float: left">{{title}}</h2>
                    <button id="pdfBtn" style="margin-right: 12px; float: right; display: none;"
                        class="w3-xlarge w3-circle w3-white circle-btn" onclick="createPDF()"><i
                            class="fa fa-print"></i></button>
                    <button id="excelBtn" onclick="exportExcel()"
                        style="margin-right: 12px; float: right; display: none;"
                        class="w3-xlarge w3-circle w3-white circle-btn"><i class="fa fa-file"></i></button>
                </div>
            </header>
            <div class="w3-container ledger-header flex" style="overflow: auto; white-space: nowrap;">
                <div>
                    <label>Product Code</label>
                    <input id="ACCodeS" class="w3-input w3-border" type="text" ng-model="proCode"
                        onkeyup="this.value = this.value.toUpperCase().trim()" ng-keyup="pName($event)">
                </div>
                <div>
                    <label>Product Name</label>
                    <input class="w3-input w3-border" type="text" ng-value="product">
                </div>
                <div style="width: 500px;">
                    <label>Date From</label>
                    <input ng-model="dateFrom" id="ctorDataForm" class="w3-input w3-border" type="text"
                        ng-model="fromDateEx" placeholder="DD-Mon-YY">
                </div>
                <div style="width: 500px;">
                    <label>Date To</label>
                    <input ng-model="dateTo" id="dateto" class="w3-input w3-border" type="text" ng-model="toDateEx"
                        placeholder="DD-Mon-YY">
                </div>
                <div>
                    <label style="display: block">&nbsp;</label>
                    <button ng-click="createProPerLed($event);" class="w3-btn main-bg-color">Create</button>
                </div>
            </div>
            <div class="clearfix" style="height: 4px;"></div>
        </div>
        <!-- Top Container End -->
        <!-- Debits Table -->
        <div class="margin-auto chart-box" style="width: 99.5%;">
            <section class="clearfix">
                <label class="ch-title mian-color w3-large ex-font"
                    style="float: left; margin-top: 1px;">Records</label>
            </section>
            <div class="w3-card-4 table-container">
                <div class="ch-table-content">
                    <div class="w3-responsive">
                        <table class="w3-table-all ledger-table">
                            <thead>
                                <tr class="main-bg-color">
                                    <th>No</th>
                                    <th>EN</th>
                                    <th>VN</th>
                                    <th>Date</th>
                                    <th>Party Code</th>
                                    <th>Party Name</th>
                                    <th>SU</th>
                                    <th>PS</th>
                                    <th>NOP</th>
                                    <th>TQ</th>
                                    <th>UNIT PRICE</th>
                                    <th>Total</th>
                                    <th>COGS UNIT PRICE</th>
                                    <th>COGS</th>
                                    <th>CONTRIBUTION MARGIN</th>
                                    <th>%</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="rec in records track by $index">
                                    <td ng-if="rec.ACCodes[1] == rec.sCode">{{$index + 1}}</td>
                                    <td ng-if="rec.ACCodes[1] == rec.sCode">{{rec.entryNo}}</td>
                                    <td ng-if="rec.ACCodes[1] == rec.sCode">{{rec.voucherNo}}</td>
                                    <td ng-if="rec.ACCodes[1] == rec.sCode">{{numToDate(rec.date)}}</td>
                                    <td ng-if="rec.ACCodes[1] == rec.sCode">{{rec.debitCredit[0].partyCode}}</td>
                                    <td ng-if="rec.ACCodes[1] == rec.sCode">{{rec.debitCredit[0].partyName}}</td>
                                    <td ng-if="rec.ACCodes[1] == rec.sCode">{{rec.debitCredit[1].stdUnit}}</td>
                                    <td ng-if="rec.ACCodes[1] == rec.sCode" style="text-align: right;">
                                        {{comNum(rec.debitCredit[1].packSize)}}</td>
                                    <td ng-if="rec.ACCodes[1] == rec.sCode" style="text-align: right;">
                                        {{comNum(rec.debitCredit[1].packs)}}</td>
                                    <td ng-if="rec.ACCodes[1] == rec.sCode" style="text-align: right;">
                                        {{comNum(rec.debitCredit[1].totalQuantity)}}
                                    </td>
                                    <td ng-if="rec.ACCodes[1] == rec.sCode" style="text-align: right;">
                                        {{comNum(rec.debitCredit[1].stdUnitPrice)}}
                                    </td>
                                    <td ng-if="rec.ACCodes[1] == rec.sCode" style="text-align: right;">
                                        {{comNum(rec.debitCredit[1].totalPriceTK)}}
                                    </td>
                                    <td ng-if="cogsFind(rec.entryNo) != null">
                                        {{comNum(cogsFind(rec.entryNo).debitCredit[1].stdUnitPrice)}}</td>
                                    <td ng-if="cogsFind(rec.entryNo) == null" style="color: red;">----</td>
                                    <td ng-if="cogsFind(rec.entryNo) != null">
                                        {{comNum(cogsFind(rec.entryNo).debitCredit[1].totalPriceTK)}}</td>
                                    <td ng-if="cogsFind(rec.entryNo) == null" style="color: red;">----</td>
                                    <td ng-if="cogsFind(rec.entryNo) != null">
                                        {{comNum(rec.debitCredit[1].totalPriceTK - cogsFind(rec.entryNo).debitCredit[1].totalPriceTK)}}
                                    </td>
                                    <td ng-if="cogsFind(rec.entryNo) == null" style="color: red;">----</td>
                                    <td ng-if="cogsFind(rec.entryNo) != null">
                                        {{comNum((rec.debitCredit[1].totalPriceTK - cogsFind(rec.entryNo).debitCredit[1].totalPriceTK)/rec.debitCredit[1].totalPriceTK*100)}}
                                    </td>
                                    <td ng-if="cogsFind(rec.entryNo) == null" style="color: red;">----</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="10">Total</td>
                                    <td style="text-align: right;">{{comNum(totalCal(records))}}</td>
                                    <td></td>
                                    <td style="text-align: right;">{{comNum(totalCal(cRecords))}}</td>
                                    <td colspan="2"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="nodata" ng-show="nodata" class="w3-pale-blue"
                            style="padding: 12px; text-align: center;">No
                            Data Found!</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Records End -->
        <!-- Excel Table -->
        <table id="excelTable" style="display: none;">
            <tr>
                <td>PRODUCT CODE</td>
                <td>{{proCode}}</td>
                <td>PRODUCT NAME</td>
                <td>{{product}}</td>
                <td>DATE FROM</td>
                <td>{{dateFrom}}</td>
                <td>DATE TO</td>
                <td>{{dateTo}}</td>
            </tr>
            <tr class="main-bg-color">
                <th>No</th>
                <th>EN</th>
                <th>VN</th>
                <th>Date</th>
                <th>Party Code</th>
                <th>Party Name</th>
                <th>SU</th>
                <th>PS</th>
                <th>NOP</th>
                <th>TQ</th>
                <th>UNIT PRICE</th>
                <th>Total</th>
                <th>COGS UNIT PRICE</th>
                <th>COGS</th>
                <th>CONTRIBUTION MARGIN</th>
                <th>%</th>

            </tr>
            <tr ng-repeat="rec in records track by $index">
                <td ng-if="rec.ACCodes[1] == rec.sCode">{{$index + 1}}</td>
                <td ng-if="rec.ACCodes[1] == rec.sCode">{{rec.entryNo}}</td>
                <td ng-if="rec.ACCodes[1] == rec.sCode">{{rec.voucherNo}}</td>
                <td ng-if="rec.ACCodes[1] == rec.sCode">{{numToDate(rec.date)}}</td>
                <td ng-if="rec.ACCodes[1] == rec.sCode">{{rec.debitCredit[0].partyCode}}</td>
                <td ng-if="rec.ACCodes[1] == rec.sCode">{{rec.debitCredit[0].partyName}}</td>
                <td ng-if="rec.ACCodes[1] == rec.sCode">{{rec.debitCredit[1].stdUnit}}</td>
                <td ng-if="rec.ACCodes[1] == rec.sCode" style="text-align: right;">
                    {{comNum(rec.debitCredit[1].packSize)}}</td>
                <td ng-if="rec.ACCodes[1] == rec.sCode" style="text-align: right;">
                    {{comNum(rec.debitCredit[1].packs)}}</td>
                <td ng-if="rec.ACCodes[1] == rec.sCode" style="text-align: right;">
                    {{comNum(rec.debitCredit[1].totalQuantity)}}
                </td>
                <td ng-if="rec.ACCodes[1] == rec.sCode" style="text-align: right;">
                    {{comNum(rec.debitCredit[1].stdUnitPrice)}}
                </td>
                <td ng-if="rec.ACCodes[1] == rec.sCode" style="text-align: right;">
                    {{comNum(rec.debitCredit[1].totalPriceTK)}}
                </td>
                <td ng-if="cogsFind(rec.entryNo) != null">{{comNum(cogsFind(rec.entryNo).debitCredit[1].stdUnitPrice)}}
                </td>
                <td ng-if="cogsFind(rec.entryNo) == null" style="color: red;">----</td>
                <td ng-if="cogsFind(rec.entryNo) != null">{{comNum(cogsFind(rec.entryNo).debitCredit[1].totalPriceTK)}}
                </td>
                <td ng-if="cogsFind(rec.entryNo) == null" style="color: red;">----</td>
                <td ng-if="cogsFind(rec.entryNo) != null">
                    {{comNum(rec.debitCredit[1].totalPriceTK - cogsFind(rec.entryNo).debitCredit[1].totalPriceTK)}}</td>
                <td ng-if="cogsFind(rec.entryNo) == null" style="color: red;">----</td>
                <td ng-if="cogsFind(rec.entryNo) != null">
                    {{comNum((rec.debitCredit[1].totalPriceTK - cogsFind(rec.entryNo).debitCredit[1].totalPriceTK)/rec.debitCredit[1].totalPriceTK*100)}}
                </td>
                <td ng-if="cogsFind(rec.entryNo) == null" style="color: red;">----</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="10">Total</td>
                <td style="text-align: right;">{{comNum(totalCal(records))}}</td>
                <td></td>
                <td style="text-align: right;">{{comNum(totalCal(cRecords))}}</td>
                <td colspan="2"></td>
            </tr>
        </table>
        <!-- Excel Table End -->
        <!-- PDF Table -->
        <div id="jsTable" class="a4paper" style="text-transform: uppercase;">
            <div class="w3-container">
                <div class="flex" style="justify-content: space-between;margin-top: 10px;">
                    <img src="http://testing.afsanajasi.com/Rahman/img/logo3.png" height="40">
                    <h3 style="font-weight: bold;">{{companay.name}}</h3>
                    <img src="http://testing.afsanajasi.com/Rahman/img/logo32.png" height="40">
                </div>
                <div style="margin-left: 16px; margin-bottom: 8px;">
                    <span style="font-size: 18px; margin-right: 80px;">PRODUCT PERFORMANCE REPORT</span><br>
                    <span style="margin-right: 5px;">PRODUCT CODE: {{proCode}} |</span>
                    <span style="margin-right: 5px;">PRODUCT NAME: {{product}} |</span>
                    <span style="margin-right: 5px;">DATE FROM: {{dateFrom}} | </span>
                    <span>DATE TO: {{dateTo}}</span>
                </div>
            </div>
            <table id="a4table" style="text-align: center; font-size: 15px;">
                <thead>
                    <tr class="main-bg-color">
                        <th>No</th>
                        <th>EN</th>
                        <th>VN</th>
                        <th>Date</th>
                        <th>Party Code</th>
                        <th>Party Name</th>
                        <th>SU</th>
                        <th>PS</th>
                        <th>NOP</th>
                        <th>TQ</th>
                        <th>UNIT PRICE</th>
                        <th>Total</th>
                        <th>COGS UNIT PRICE</th>
                        <th>COGS</th>
                        <th>CONTRIBUTION MARGIN</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rec in records track by $index">
                        <td ng-if="rec.ACCodes[1] == rec.sCode">{{$index + 1}}</td>
                        <td ng-if="rec.ACCodes[1] == rec.sCode">{{rec.entryNo}}</td>
                        <td ng-if="rec.ACCodes[1] == rec.sCode">{{rec.voucherNo}}</td>
                        <td ng-if="rec.ACCodes[1] == rec.sCode">{{numToDate(rec.date)}}</td>
                        <td ng-if="rec.ACCodes[1] == rec.sCode">{{rec.debitCredit[0].partyCode}}</td>
                        <td ng-if="rec.ACCodes[1] == rec.sCode">{{rec.debitCredit[0].partyName}}</td>
                        <td ng-if="rec.ACCodes[1] == rec.sCode">{{rec.debitCredit[1].stdUnit}}</td>
                        <td ng-if="rec.ACCodes[1] == rec.sCode" style="text-align: right;">
                            {{comNum(rec.debitCredit[1].packSize)}}</td>
                        <td ng-if="rec.ACCodes[1] == rec.sCode" style="text-align: right;">
                            {{comNum(rec.debitCredit[1].packs)}}</td>
                        <td ng-if="rec.ACCodes[1] == rec.sCode" style="text-align: right;">
                            {{comNum(rec.debitCredit[1].totalQuantity)}}
                        </td>
                        <td ng-if="rec.ACCodes[1] == rec.sCode" style="text-align: right;">
                            {{comNum(rec.debitCredit[1].stdUnitPrice)}}
                        </td>
                        <td ng-if="rec.ACCodes[1] == rec.sCode" style="text-align: right;">
                            {{comNum(rec.debitCredit[1].totalPriceTK)}}
                        </td>
                        <td ng-if="cogsFind(rec.entryNo) != null">
                            {{comNum(cogsFind(rec.entryNo).debitCredit[1].stdUnitPrice)}}</td>
                        <td ng-if="cogsFind(rec.entryNo) == null" style="color: red;">----</td>
                        <td ng-if="cogsFind(rec.entryNo) != null">
                            {{comNum(cogsFind(rec.entryNo).debitCredit[1].totalPriceTK)}}</td>
                        <td ng-if="cogsFind(rec.entryNo) == null" style="color: red;">----</td>
                        <td ng-if="cogsFind(rec.entryNo) != null">
                            {{comNum(rec.debitCredit[1].totalPriceTK - cogsFind(rec.entryNo).debitCredit[1].totalPriceTK)}}
                        </td>
                        <td ng-if="cogsFind(rec.entryNo) == null" style="color: red;">----</td>
                        <td ng-if="cogsFind(rec.entryNo) != null">
                            {{comNum((rec.debitCredit[1].totalPriceTK - cogsFind(rec.entryNo).debitCredit[1].totalPriceTK)/rec.debitCredit[1].totalPriceTK*100)}}
                        </td>
                        <td ng-if="cogsFind(rec.entryNo) == null" style="color: red;">----</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="10">Total</td>
                        <td style="text-align: right;">{{comNum(totalCal(records))}}</td>
                        <td></td>
                        <td style="text-align: right;">{{comNum(totalCal(cRecords))}}</td>
                        <td colspan="2"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- PDF Table End -->
    </div>
</div>
<script>
    function exportExcel() {
        $print('excelTable');
        let wb = XLSX.utils.book_new();
        let ledger = XLSX.utils.table_to_sheet($js('excelTable'), { cellDates: true });
        XLSX.utils.book_append_sheet(wb, ledger, 'PRODUCT PERFORMANCE REPORT'.toUpperCase());
        let wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'PRODUCT_PERFORMANCE_REPORT.xlsx');
    }
    function createPDF() {
        console.log('jsTable');
        $js('jsTable').style.display = 'block';
        let tWidth = $('#a4table').outerWidth();
        let cWidth = $('#jsTable').outerWidth();
        while (tWidth > cWidth) {
            $js('a4table').style.fontSize = (parseInt(($js('a4table').style.fontSize).replace('px', '')) - 1) + 'px';
            tWidth = $('#a4table').outerWidth();
            cWidth = $('#jsTable').outerWidth();
            console.log($js('a4table').style.fontSize);
        }
        let doc = new jsPDF('l', 'pt', 'a4');
        doc.addHTML($('#jsTable')[0], 0, 0, {
            'bakground': '#fff'
        }, function () {
            doc.save('PRODUCT_PERFORMANCE_REPORT.pdf');
            $js('jsTable').style.display = 'none';

        });
    }
</script>