<div class="overlay-container">
    <div class="overlay">
        <div class="margin-auto clearfix" style="width: 95%; margin-top: 15px; margin-bottom: 18px;">
            <section class="clearfix">
                <label class="ch-title mian-color w3-large ex-font" style="float: left; margin-top: 8px;">{{title}}s</label>
            </section>
            <div class="w3-card-4 table-container">
                <div class="ch-table-header">
                    <div class="w3-responsive">
                        <table class="w3-table-all">
                            <thead>
                                <tr class="main-bg-color">
                                    <th>Entry No</th>
                                    <th>Date</th>
                                    <th>Voucher No</th>
                                    <th>PS No</th>
                                    <th>SEQ No</th>
                                    <th>Party Code</th>
                                    <th>Party Name</th>
                                    <th>A/C Code</th>
                                    <th>A/C Name</th>
                                    <th>Dr/Cr</th>
                                    <th>Dr. Amount</th>
                                    <th>Cr. Amount</th>
                                    <th>Cost Center</th>
                                    <th>Description</th>
                                    <th>Primary Unit</th>
                                    <th>Quantity</th>
                                    <th>Primary Unit Price</th>
                                    <th>Standard Unit</th>
                                    <th>Pack Size</th>
                                    <th>No of Packs</th>
                                    <th>Total Quantity</th>
                                    <th>Standard Unit Price (TK)</th>
                                    <th>Total Price (TK)</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="jor in journal | orderBy : 'entryNo' : true track by $index">
                                <tr ng-repeat="deb in jor.debitCredit track by $index">
                                    <td>{{jor.entryNo}}</td>
                                    <td>{{numToDate(jor.date)}}</td>
                                    <td>{{jor.voucherNo}}</td>
                                    <td>{{jor.psNo}}</td>
                                    <td>{{jor.seqNo}}</td>
                                    <td>{{deb.partyCode}}</td>
                                    <td>{{deb.partyName}}</td>
                                    <td>{{deb.ACCode}}</td>
                                    <td>{{deb.ACName}}</td>
                                    <td>{{changerDC(deb.type)}}</td>
                                    <td>{{deb.drAmount}}</td>
                                    <td>{{deb.crAmount}}</td>
                                    <td>{{jor.costCenter}}</td>
                                    <td>{{jor.description}}</td>
                                    <td>{{jor.primaryUnit}}</td>
                                    <td>{{jor.primaryQuantity}}</td>
                                    <td>{{jor.primaryUnitPrice}}</td>
                                    <td ng-hide="deb.stdUnit">{{jor.stdUnit}}</td>
                                    <td ng-show="deb.stdUnit">{{deb.stdUnit}}</td>
                                    <td ng-hide="deb.packSize">{{jor.packSize}}</td>
                                    <td ng-show="deb.packSize">{{deb.packSize}}</td>
                                    <td ng-hide="deb.packs">{{jor.packs}}</td>
                                    <td ng-show="deb.packs">{{deb.packs}}</td>
                                    <td ng-hide="deb.unitQuantity">{{jor.totalQuantity}}</td>
                                    <td ng-show="deb.unitQuantity">{{deb.unitQuantity}}</td>
                                    <td ng-hide="deb.unitPrice">{{jor.stdUnitPrice}}</td>
                                    <td ng-show="deb.unitPrice">{{deb.unitPrice}}</td>
                                    <td ng-hide="deb.totalPrice">{{jor.totalPriceTK}}</td>
                                    <td ng-show="deb.totalPrice">{{deb.totalPrice}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="journal.length == 0" class="w3-pale-blue" style="padding: 12px; text-align: center;"><img
                                src="img/loader.gif" alt="Loading..." style="height: 25px; width: 25px;"></div>
                        <div ng-show="journal == null" class="w3-pale-blue" style="padding: 12px; text-align: center;">No
                            Data Found!</div>
                    </div>
                </div>
            </div>
            <!-- End of the Journy -->
            
        </div>
    </div>