<div class="overlay-container">
        <div class="overlay">
            <div class="margin-auto" style="width: 90%; margin-top: 15px; margin-bottom: 15px;">
                <section class="clearfix">
                    <label class="ch-title mian-color w3-large ex-font" style="float: left; margin-top: 8px;">{{title}}</label>
                     </section>
                <div class="w3-card-4 table-container">
                    <div class="ch-table-content">
                        <div class="w3-responsive">
    
                            <table class="w3-table-all chart-tables">
                                <thead>
                                    <tr class="main-bg-color">
                                        <th>Srl.</th>
                                        <th>Entry No</th>
                                        <th>Date</th> 
                                        <th>Transaction</th>
                                        <th>Procuct Code</th>
                                        <th>Product</th>
                                        <th>Account Code</th>
                                        <th>Account Name</th>
                                        <th>Primary Unit</th>
                                        <th>Total Primary Unit</th>
                                        <th>Per Unit Price</th>
                                        <th>Standard Unit</th>
                                        <th>Avg. Std. Price Pr unit</th>
                                        <th>Balance</th>
                                        
                                    </tr>
                                </thead>
                                <tbody ng-repeat="jor in PrdInputDB | orderBy : 'entryNo' : true track by $index">
                                        <tr ng-repeat="x in jor.Info track by $index">
                                        <td>{{$index + 1}}</td>
                                        <td>{{jor.entryNo}}</td>
                                        <td>{{numToDate(jor.date)}}</td>
                                        <td>{{jor.Transaction}}</td>
                                        <td>{{x.partyCode}}</td>
                                        <td>{{x.partyName}}</td>
                                        <td>{{x.ACCode}}</td>
                                        <td>{{x.ACName}}</td>
                                        <td>{{jor.PrimaryUnit}}</td>
                                        <td>{{jor.TotalPrimaryUnit}}</td>
                                        <td>{{jor.PerUnitPrice}}</td>
                                        <td>{{jor.StandardUnit}}</td>
                                        <td>{{jor.AverageStandardPrice}}</td>
                                        <td>{{jor.ThisBalance}}</td>
                                        <!-- <td>
                                            <button id="{{comAcc.$id}}e" onclick="editItem(event)" class="w3-btn w3-blue">Edit</button>
                                            <button id="{{comAcc.$id}}ec" onclick="editConfirm(event)" class="w3-btn w3-blue"
                                                style="display: none;">Update</button>
                                        </td> -->
                                        <!-- <td>
                                            <button id="{{comAcc.$id}}" onclick="removeItem(event)" class="w3-btn w3-red">Delete</button>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <div ng-show="PrdInputDB.length == 0" class="w3-pale-blue" style="padding: 12px; text-align: center;"><img
                                src="img/loader.gif" alt="Loading..." style="height: 25px; width: 25px;">
                            </div>
                        
                                <div ng-show="PrdInputDB == null" class="w3-pale-blue" style="padding: 12px; text-align: center;">No
                                Data Found!
                                </div>
                           
                    </div>
                </div>
            </div>
            