
<style>
    @media print {
        @page { size: landscape;}
        body * {
          visibility: hidden;
        }
        #printableArea, #printableArea * {
          visibility: visible;
        }
        #printableArea {
          position: absolute;
          left: 0;
          top: 0;
        }
        #submitBtn,#submitBtn *
        {
            display: none !important;
    
        }

        .noprint
        {
            display: none !important; 
        }
      }
    </style>
    
    
    <div class="overlay-container" id="printableArea">
    <div class="overlay">
        <div class="div-box tbm w3-light-gray w3-card-4 margin-auto" style="width: 95%; border-top-left-radius: 8px;">
            <div class="w3-container main-bg-color div-title">
                <h2>Sales Return</h2>
            </div>
            <div class="w3-container" style="margin-top: 20px;">
                <table class="w3-table chart-table" style="font-size: 16px;">
                    <tr>
                        <td class="secondary" style="width: 115px; padding-left: 5px; text-align: center;">
                            <span>ENTRY NO</span>
                        </td>
                        <td class="border">
                            <input class="w3-input w3-border" type="text" style="text-align: center" id="entryNo" value="{{lastEntry.$value}}"
                                disabled>
                        </td>
                        <td class="secondary" style="width: 215px; text-align: center;" >VOUCHER NO</td>
                        <td>
                            <input class="w3-input w3-border" type="text" style="text-align: center" id="voucherNo"
                                autofocus>
                        </td>
                        <td class="secondary" style="width: 125px; text-align: center;">DATE</td>
                        <td style="width: 125px;">
                            <input class="w3-input w3-border" type="text" id="date" style="text-align: center;"
                                placeholder="DD-Mon-YY">
                            <label>Ex: 12-Jan-18</label>
                        </td>
                    </tr>
                </table>
                <table id="chartTable" class="w3-table chart-table" style="font-size: 16px;">
                    <tr class="primary">
                        <td colspan="11" style="text-align:center">SALES PART</td>
                    </tr>
                    <tr class="primary">
                       
                        <td colspan="9" style="text-align: center;">Debit Info</td>
                        <td style="text-align: right;">Dr. Amount</td>
                        <td style="text-align: right;">Cr. Amount</td>
                    </tr>
                    <tr class="secondary">
                       
                        <td style="text-align: center; padding:0;" >FG CODE</td>
                        <td style="text-align: center;" colspan="3">FINISHED GOOD</td>
                        <td style="text-align: center;" >A/C CODE</td>
                        <td style="text-align: center;" colspan="4">A/C TITLE</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                       
                        <td>
                            <input class="w3-input w3-border" id="drPartyCodeSale" type="text" name="drPartyCodeSale" onpaste="partyNameComplete(event)"
                                onkeyup="partyNameComplete(event)" style="text-align: center">
                        </td>
                        <td colspan="3">
                            <input class="w3-input w3-border" type="text" style="text-align: center" value="-----"
                                disabled>
                        </td>
                        <td>
                            <input class="w3-input w3-border" type="text" name="ACCodeSale" onpaste="ACNameComplete(event)"
                                onkeyup="ACNameComplete(event)" style="text-align: center">
                        </td>
                        <td colspan="4">
                            <input class="w3-input w3-border" type="text" style="text-align: center" value="-----"
                                disabled>
                        </td>
                        <td>
                            <input ng-model="debit1" id="totalDebitsale"  class="w3-input w3-border comma-num-minus" type="text" name="debitAmount" onkeyup="submitValid(event)"
                                style="text-align: right">
                        </td>
                        <td>
                            <input class="w3-input w3-border" type="text" name="partyNameSale" style="text-align: center"
                                value="x" disabled>
                        </td>
                    </tr>
                    <!-- <tr id="debitLine">
                        <td id="addDebitField">
                            <button class="main-bg-color w3-btn journal-csbtn" onclick="addField()">+</button>
                        </td>
                        <td style="border-right: none;">
                            <button class="main-bg-color w3-btn journal-csbtn" style="margin-left: -8px;" onclick="rmField()">-</button>
                        </td>
                        <td class="tab-warn" style="border-left: none;" colspan="5">To Submit form debit & credit
                            amount must be same.</td>
                    </tr> -->
                    <tr class="primary">
                       
                        <td colspan="9" style="text-align: center;">Credit Info</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="secondary">
                        
                        <td style="text-align: center;">PARTY CODE</td>
                        <td style="text-align: center;" colspan="3">PARTY NAME</td>
                        <td style="text-align: center;">A/C CODE</td>
                        <td style="text-align: center;" colspan="4">A/C TITLE</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        
                        <td>
                            <input id="CostCRPartyCode"  class="w3-input w3-border" type="text" name="crPartyCode" onpaste="partyNameComplete(event)"
                                onkeyup="partyNameComplete(event)" style="text-align: center">
                        </td>
                        <td colspan="3">
                            <input class="w3-input w3-border" type="text" name="partyName" style="text-align: center"
                                value="-----" disabled>
                        </td>
                        <td>
                            <input class="w3-input w3-border" type="text" name="ACCode" onpaste="ACNameComplete(event)"
                                onkeyup="ACNameComplete(event)" style="text-align: center">
                        </td>
                        <td colspan="4">
                            <input class="w3-input w3-border" type="text" name="ACName" style="text-align: center"
                                value="-----" disabled>
                        </td>
                        <td>
                            <input class="w3-input w3-border"   type="text" name="partyName" style="text-align: center"
                                value="x" disabled>
                        </td>
                        <td>
                            <input ng-model="credit1" id="totalCreditsale" class="w3-input w3-border comma-num-minus" type="text" name="creditAmount" style="text-align: right" onkeyup="submitValid()">
                        </td>
                    </tr>
                    <!-- <tr>
                        <td id="addCreditField">
                            <button class="main-bg-color w3-btn journal-csbtn" onclick="addField()">+</button>
                        </td>
                        <td style="border-right: none;">
                            <button class="main-bg-color w3-btn journal-csbtn" style="margin-left: -8px;" onclick="rmField()">-</button>
                        </td>
                        <td style="border-left: none;" class="tab-warn" colspan="5"></td>
                    </tr> -->
                    <!-- <tr>
                        <td class="secondary" colspan="2">Primary Unit</td>
                        <td colspan="3">
                            <input class="w3-input w3-border" type="text" id="primaryUnit" style="text-align: center">
                        </td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="secondary">Primary Quantity</td>
                        <td colspan="2" class="secondary">Primary Unit Price</td>
                        <td class="secondary">Total Price</td>
                        <td colspan="2"></td>
                    </tr> -->
                    <!-- <tr>
                        <td colspan="2">
                            <input ng-model="unitQuantity" class="w3-input w3-border" type="text" style="text-align: center"
                                id="primaryQuantity" onkeyup="submitValid()" onkeypress="numValidate(event)">
                        </td>
                        <td colspan="2">
                            <input ng-model="unitPrice" class="w3-input w3-border" type="text" style="text-align: center"
                                id="primaryUnitPrice" onkeyup="submitValid()" onkeypress="numValidate(event)">
                        </td>
                        <td>
                            <input class="w3-input w3-border" type="text" style="text-align: center" id="totalPriceTK"
                                value="{{unitPrice*unitQuantity | number}}" disabled>
                        </td>
                        <td colspan="2"></td>
                    </tr> -->
                    
                    <tr>
                        <td colspan="2" class="secondary" style="text-align:center;">STANDARD UNIT</td>
                        <td>
                            <input id="stdUnitSale" class="w3-input w3-border" type="text" style="text-align: center">
                        </td>
                        <td class="secondary" style="padding:0;">PACKET TYPE</td>
                        <td><select id="packtypeSale" style="width:80px;">
                            <option value="Packed" selected="selected">Packed</option>
                            <option value="Unpacked">Unpacked</option>
                            </select>
                        </td>
                        <td class="secondary" style="padding:0;">PACKET SIZE</td>
                        <td>
                            <input ng-model="vpackSizeSale" id="packSizeSale" class="w3-input w3-border" type="text" style="text-align: center"
                                onkeypress="numValidate(event)" onkeyup="submitValid()">
                        </td>
                        <td class="secondary">UNIT PRICE</td>
                        <td >
                            <input ng-model="SUnitPriceSale" class="w3-input w3-border" type="text" style="text-align: center"
                                id="unitPrice" onkeyup="submitValid()" onkeypress="numValidate(event)">
                        </td>
                        
                        <td colspan="2"></td>
                    </tr>
                    
                    <tr>
                            <td colspan="2" class="secondary" style="padding:0; text-align: center;" >NO OF PACKS</td>
                            <td>
                                <input ng-model="SUnitQuantitySale" class="w3-input w3-border" type="text" 
                                    style="text-align: center" id="noOfPack" onkeyup="submitValid()" onkeypress="numValidate(event)">
                            </td>
                        <td colspan="2" class="secondary" style="padding:0; text-align: center" >TOTAL QUANTITY</td>
                        <td>
                            <input class="w3-input w3-border" type="text" id="totalQuantitySale"
                                style="text-align: center" id="unitQuantity" value="{{SUnitQuantitySale*vpackSizeSale | number}}" disabled>
                        </td>
                       <td class="secondary" style="padding:0;">TOTAL PRICE</td>
                        <td colspan="2">
                            <input id="totalPriceASale" class="w3-input w3-border" type="text" style="text-align: center"
                                value="{{SUnitPriceSale*SUnitQuantitySale*vpackSizeSale | number}}" disabled>
                        </td>
                                              
                    </tr>
                    <tr class="primary">
                        
                        <td colspan="9" style="text-align: right;">Total</td>
                        <td id="SalesTotalDrAmount" style="text-align: right">{{debit1}}</td>
                        <td id="SalesTotalCrAmount" style="text-align: right">{{credit1}}</td>
                    </tr>
                    <tr class="primary  noprint">
                            <td colspan="11" style="text-align:center">COST OF GOODS SOLD PART</td>
                    </tr>
                    <tr class="primary noprint">
                        
                        <td colspan="9" style="text-align: center;">Debit Info</td>
                        <td style="text-align: right;">Dr. Amount</td>
                        <td style="text-align: right;">Cr. Amount</td>
                    </tr>
                    <tr class="secondary noprint">
                        
                        <td style="text-align: center; padding:0;" >FG CODE</td>
                        <td style="text-align: center;" colspan="3">FINISHED GOOD</td>
                        <td style="text-align: center;" >A/C CODE</td>
                        <td style="text-align: center;" colspan="4">A/C TITLE</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="noprint">
                        
                        <td>
                            <input id="drPartyCodeSaleCo" class="w3-input w3-border" type="text" name="drPartyCode" onpaste="partyNameComplete(event)"
                                onkeyup="partyNameComplete(event)" style="text-align: center">
                        </td>
                        <td colspan="3">
                            <input class="w3-input w3-border" type="text" style="text-align: center" value="-----"
                                disabled>
                        </td>
                        <td>
                            <input class="w3-input w3-border" type="text" name="ACCode" onpaste="ACNameComplete(event)"
                                onkeyup="ACNameComplete(event)" style="text-align: center">
                        </td>
                        <td colspan="4">
                            <input class="w3-input w3-border" type="text" style="text-align: center" value="-----"
                                disabled>
                        </td>
                        <td>
                            <input ng-model="CostDrAmount"  class="w3-input w3-border comma-num-minus" type="text" name="debitAmount"
                                style="text-align: right" id="totalDebitCost"  onkeyup="submitValid()">
                        </td>
                        <td>
                            <input class="w3-input w3-border" type="text" name="partyName" style="text-align: center"
                                value="x" disabled>
                        </td>
                    </tr>
                    
                    <tr class="primary noprint">
                        
                        <td colspan="9" style="text-align: center;">Credit Info</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="secondary noprint">
                        
                        <td style="text-align: center;">PARTY CODE</td>
                        <td style="text-align: center;" colspan="3">PARTY NAME</td>
                        <td style="text-align: center;">A/C CODE</td>
                        <td style="text-align: center;" colspan="4">A/C TITLE</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="noprint">
                       
                        <td>
                            <input id="drPartyCodeSaleCoCr"  class="w3-input w3-border" type="text" name="crPartyCode" onpaste="partyNameComplete(event)"
                                onkeyup="partyNameComplete(event)" style="text-align: center">
                        </td>
                        <td colspan="3">
                            <input class="w3-input w3-border" type="text" name="partyName" style="text-align: center"
                                value="-----" disabled>
                        </td>
                        <td>
                            <input class="w3-input w3-border" type="text" name="ACCode" onpaste="ACNameComplete(event)"
                                onkeyup="ACNameComplete(event)" style="text-align: center">
                        </td>
                        <td colspan="4">
                            <input class="w3-input w3-border" type="text" name="ACName" style="text-align: center"
                                value="-----" disabled>
                        </td>
                        <td>
                            <input class="w3-input w3-border" type="text" name="partyName" style="text-align: center"
                                value="x" disabled>
                        </td>
                        <td>
                            <input ng-model="CostCrAmount" id="totalCreditCost"  class="w3-input w3-border comma-num-minus" type="text" name="creditAmount"
                               style="text-align: right" onkeyup="submitValid()">
                        </td>
                    </tr>
                    <tr class="noprint">
                        <td colspan="2" class="secondary" style="text-align: center">STANDARD UNIT</td>
                        <td>
                            <input id="stdUnit" class="w3-input w3-border" type="text" style="text-align: center">
                        </td>
                        <td class="secondary" style="padding:0;">PACKET TYPE</td>
                        <td><select id="packtypecost" style="width:80px;">
                            <option value="Packed" selected="selected">Packed</option>
                            <option value="Unpacked">Unpacked</option>
                            </select>
                        </td>
                        <td class="secondary" style="padding:0;">PACKET SIZE</td>
                        <td>
                            <input ng-model="packSizeCost" id="packSize" class="w3-input w3-border" type="text" style="text-align: center"
                                onkeypress="numValidate(event)" onkeyup="submitValid()">
                        </td>
                        <td class="secondary">UNIT PRICE</td>
                        <td >
                            <input ng-model="SUnitPrice" class="w3-input w3-border" type="text" id="stdUnitPrice" style="text-align: center"
                                onkeyup="submitValid()" onkeypress="numValidate(event)">
                        </td>
                        
                        <td colspan="2"></td>
                    </tr>
                    
                    <tr class="noprint">
                            <td colspan="2" class="secondary" style="padding:0; text-align: center;" >NO OF PACKS</td>
                            <td>
                                <input ng-model="SUnitQuantityCost" class="w3-input w3-border" type="text" 
                                    style="text-align: center" id="noOfPackcost" onkeyup="submitValid()" onkeypress="numValidate(event)">
                            </td>
                        <td colspan="2" class="secondary" style="padding:0;text-align: center" >TOTAL QUANTITY</td>
                        <td>
                                <input class="w3-input w3-border" type="text" id="totalQuantity"
                                style="text-align: center" value="{{ packSizeCost*SUnitQuantityCost |number}}" disabled>
                        </td>
                       <td class="secondary" style="padding:0;">TOTAL PRICE</td>
                        <td colspan="2">
                            <input id="totalPriceA" class="w3-input w3-border" type="text" style="text-align: center"
                            value="{{ SUnitQuantityCost*packSizeCost*SUnitPrice |number}}" disabled>
                        </td>
                                              
                    </tr>
                    <tr class="primary noprint">
                        
                        <td colspan="9" style="text-align: right;">Total</td>
                        <td id="CostCostDrAmount" style="text-align: right">{{CostDrAmount}}</td>
                        <td id="CostCostCrAmount" style="text-align: right">{{CostCrAmount}}</td>
                    </tr>
                    <tr class="noprint">
                        <td class="secondary" colspan="2" style="text-align: center">DESCRIPTION</td>
                        <td colspan="4">
                            <textarea class="w3-input" name="" id="description" rows="2"></textarea>
                        </td>
                        <td colspan="4"></td>
                        <td class="main-bg-color" style="text-align: center; cursor: pointer;">
                            <button type="submit" onclick="window.print();" id="submitBtn" class="w3-btn" disabled>Submit</button>
                        </td>
                    </tr>
                </table>
                <br style="clear: both;">
            </div>
        </div>
    </div>
</div>
<script>
$('input.comma-num-minus').keyup(commaNumMakerMinus);
document.getElementById('voucherNo').focus();

    function addField() {
        let chartTable = $js('chartTable');
        let debitAdderRow = $js('addDebitField');
        let creditAdderRow = $js('addCreditField');
        // let adderRow = $js(field);
        let serial = parseInt(debitAdderRow.parentElement.previousElementSibling.firstElementChild.innerHTML);
        let newDebitRow = document.createElement('tr');
        let newCreditRow = document.createElement('tr');
        m.render(newDebitRow,
            [
                m("td", ++serial),
                m("td", [m('input', { class: 'w3-input w3-border', type: 'text', name: 'drPartyCode', onpaste: partyNameComplete, onkeyup: partyNameComplete, style: 'text-align: center' })]),
                m("td", [m('input', { class: 'w3-input w3-border', type: 'text', style: 'text-align: center', value: '-----', disabled: true })]),
                m("td", [m('input', { class: 'w3-input w3-border', type: 'text', name: 'ACCode', onpaste: ACNameComplete, onkeyup: ACNameComplete, style: 'text-align: center' })]),
                m("td", [m('input', { class: 'w3-input w3-border', type: 'text', style: 'text-align: center', value: '-----', disabled: true })]),
                m("td", [m('input', { class: 'w3-input w3-border', type: 'text', name: 'debitAmount', onkeypress: numValidate, onkeyup: findTotal, style: 'text-align: right' })]),
                m("td", [m('input', { class: 'w3-input w3-border', type: 'text', style: 'text-align: center', value: 'x', disabled: true })])
            ]
        );
        m.render(newCreditRow,
            [
                m("td", serial),
                m("td", [m('input', { class: 'w3-input w3-border', type: 'text', name: 'crPartyCode', onpaste: partyNameComplete, onkeyup: partyNameComplete, style: 'text-align: center' })]),
                m("td", [m('input', { class: 'w3-input w3-border', type: 'text', style: 'text-align: center', value: '-----', disabled: true })]),
                m("td", [m('input', { class: 'w3-input w3-border', type: 'text', name: 'ACCode', onpaste: ACNameComplete, onkeyup: ACNameComplete, style: 'text-align: center' })]),
                m("td", [m('input', { class: 'w3-input w3-border', type: 'text', style: 'text-align: center', value: '-----', disabled: true })]),
                m("td", [m('input', { class: 'w3-input w3-border', type: 'text', style: 'text-align: center', value: 'x', disabled: true })]),
                m("td", [m('input', { class: 'w3-input w3-border', type: 'text', name: 'creditAmount', onkeypress: numValidate, onkeyup: findTotal, style: 'text-align: right' })])
            ]
        );
        chartTable.children[0].insertBefore(newDebitRow, debitAdderRow.parentElement);
        chartTable.children[0].insertBefore(newCreditRow, creditAdderRow.parentElement);
    }

    function rmField() {
        let debitAdderRow = $js('addDebitField');
        let creditAdderRow = $js('addCreditField');
        if (!(debitAdderRow.parentElement.previousElementSibling.firstElementChild.innerHTML == "1")) {
            chartTable.children[0].removeChild(debitAdderRow.parentElement.previousElementSibling);
            chartTable.children[0].removeChild(creditAdderRow.parentElement.previousElementSibling);
        }
    }
        
    
    function submitValid() {

        if($js('packSizeSale') != null)
    var a=parseFloat($js('packSizeSale').value);
    if($js('unitPrice') != null)
    var b=parseFloat($js('unitPrice').value);
    if($js('noOfPack')!= null)
    var c=parseFloat($js('noOfPack').value);
    if( $js('packSize') != null)
    var x=parseFloat($js('packSize').value);
    if( $js('stdUnitPrice') != null)
    var y=parseFloat($js('stdUnitPrice').value);
    if( $js('noOfPackcost') != null)
    var z=parseFloat($js('noOfPackcost').value);
    //    $print(a);
    //    $print(b);
       
    //    $print(c);
    //    $print(x);
    //    $print(y);
    //    $print(z);

    var totalPriceA=a*b*c;
    var totalPriceCost = x*y*z;
    // $print(totalPriceCost);
    // $print(totalPriceA);

        let totalDebits = commaToNum($js('totalDebitsale').value);
        let totalCredits = commaToNum($js('totalCreditsale').value);  
        // $print(totalDebits);
        // $print(totalCredits);

        let totalDebitc = commaToNum($js('totalDebitCost').value);
        let totalCreditc = commaToNum($js('totalCreditCost').value);
        // $print(totalDebitc);
        // $print(totalCreditc);
        if (totalDebits==totalCredits && totalCredits==totalPriceA && totalDebits == totalPriceA && totalPriceCost==totalDebitc && totalPriceCost==totalCreditc && totalCreditc == totalDebitc) {
            $js('submitBtn').disabled = false;
        }
        else $js('submitBtn').disabled = true;
    }

    $js('submitBtn').addEventListener('click', function () {
        let date = $js('date');
        let regEx = /^\d{1,2}-(?:JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)-\d{2}$/i;
        let entryNo = $js('entryNo');
        let voucherNo = $js('voucherNo');

        // Warning for Empty
        if (entryNo.value == "") {
            $('#notification').html("<h6>Entry No Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
            entryNo.focus();
            return;
        }
        else if (voucherNo.value == "") {
            $('#notification').html("<h6>Voucher No Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
            voucherNo.focus();
            return;
        }
        else if (date.value == "") {
            $('#notification').html("<h6>Date Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
            date.focus();
            return;
        }
        else if (!(date.value).match(regEx)) {
            $('#notification').html("<h6>Error Date Format</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
            $js('date').focus();
            return;
        }
        
        let salestdunit=$js('stdUnitSale');
        let packedornot= $js('packtypeSale');    
        let salePacksize =$js('packSizeSale').value;
        let saleUnitP=$js('unitPrice').value;
        let saleNoOfP= $js('noOfPack').value;
        let saleTotalQantity=salePacksize*saleNoOfP;
        
        
        let description = $js('description');
        let saleToatlPrc=salePacksize*saleNoOfP*saleUnitP;

        let debitCredit = [];
        let ACCodes = [];
        let partyCodes=[];
        // var drPartyCodeEls = $sn('drPartyCode');
        // var crPartyCodeEls = $sn('crPartyCode');
            
                let partyCodeEl = $js('drPartyCodeSale');
                let partyNameEl = partyCodeEl.parentElement.nextElementSibling.firstElementChild;
                let ACCodeEl = partyNameEl.parentElement.nextElementSibling.firstElementChild;
                let ACNameEl = ACCodeEl.parentElement.nextElementSibling.firstElementChild;
                let drAmount = ACNameEl.parentElement.nextElementSibling.firstElementChild;
                let crAmount = drAmount.parentElement.nextElementSibling.firstElementChild;
                if (partyCodeEl.value == "") {
                    $('#notification').html("<h6>FG Code Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    partyCodeEl.focus();
                    return;
                }
                else if (partyNameEl.value == "") {
                    $('#notification').html("<h6>Party Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    partyCodeEl.focus();
                    return;
                }
                else if (ACCodeEl.value == "") {
                    $('#notification').html("<h6>Account Code Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    ACCodeEl.focus();
                    return;
                }
                else if (ACNameEl.value == "") {
                    $('#notification').html("<h6>Account Name Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    ACCodeEl.focus();
                    return;
                }
                else if(salestdunit.value == ""){
                $('#notification').html("<h6>Standard Unit Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                salestdunit.focus();
                return;
                }

                let debit = {
                    type: 'Dr',
                    partyCode: partyCodeEl.value,
                    partyName: partyNameEl.value,
                    ACCode: ACCodeEl.value,
                    ACName: ACNameEl.value,
                    drAmount: commaToNum(drAmount.value),
                    stdUnit:salestdunit.value,
                    stdUnitPrice:saleUnitP,
                    packType:packedornot.value,
                    packs:saleNoOfP,
                    packSize:salePacksize,
                    totalQuantity:saleTotalQantity,
                    totalPriceTK: saleToatlPrc
                }

                //$print(debit);
                ACCodes.push(ACCodeEl.value);
                debitCredit.push(debit);
                partyCodes.push(partyCodeEl.value);
            
            
                let partyCodeElCr =$js('CostCRPartyCode');;
                let partyNameElCr = partyCodeElCr.parentElement.nextElementSibling.firstElementChild;
                let ACCodeElCr = partyNameElCr.parentElement.nextElementSibling.firstElementChild;
                let ACNameElCr = ACCodeElCr.parentElement.nextElementSibling.firstElementChild;
                let drAmountCr = ACNameElCr.parentElement.nextElementSibling.firstElementChild;
                let crAmountCr = drAmountCr.parentElement.nextElementSibling.firstElementChild;
                if (partyCodeElCr.value == "") {
                    $('#notification').html("<h6>Party Code Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    partyCodeElCr.focus();
                    return;
                }
                else if (partyNameElCr.value == "") {
                    $('#notification').html("<h6>Finished Goods Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    partyNameElCr.focus();
                    return;
                }
                else if (ACCodeElCr.value == "") {
                    $('#notification').html("<h6>Account Code Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    ACCodeElCr.focus();
                    return;
                }
                else if (ACNameElCr.value == "") {
                    $('#notification').html("<h6>Account Name Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    ACCodeElCr.focus();
                    return;
                }
                let credit = {
                    type: 'Cr',
                    partyCode: partyCodeElCr.value,
                    partyName: partyNameElCr.value,
                    ACCode: ACCodeElCr.value,
                    ACName: ACNameElCr.value,
                    crAmount: commaToNum(crAmountCr.value),
                    stdUnit:salestdunit.value,
                    stdUnitPrice:saleUnitP,
                    packType:packedornot.value,
                    packs:saleNoOfP,
                    packSize:salePacksize,
                    totalQuantity:saleTotalQantity,
                    totalPriceTK: saleToatlPrc
                }
                ACCodes.push(ACCodeElCr.value);
                debitCredit.push(credit);
                partyCodes.push(partyCodeElCr.value);
                //$print(credit);
               
                let sales = {
                            entryNo: parseInt(entryNo.value),
                            voucherNo: parseInt(voucherNo.value),
                            date: dateToNum(date.value),
                            debitCredit: debitCredit,
                            ACCodes: ACCodes,
                            partyCodes:partyCodes,
                            description: description.value,
                            formName:'Sales Return (Sales)',
                            uId:firebase.auth().currentUser.uid,
                            flagPrejournal:0
                            }

                //formDataToFire("JournalForm", entryNo.value, sales);

                let partyCodeElCo = $js('drPartyCodeSaleCo');
                let partyNameElCo = partyCodeElCo.parentElement.nextElementSibling.firstElementChild;
                let ACCodeElCo = partyNameElCo.parentElement.nextElementSibling.firstElementChild;
                let ACNameElCo = ACCodeElCo.parentElement.nextElementSibling.firstElementChild;
                let drAmountCo = ACNameElCo.parentElement.nextElementSibling.firstElementChild;
                let crAmountCo = drAmountCo.parentElement.nextElementSibling.firstElementChild;

                let partyCodeElCoCr = $js('drPartyCodeSaleCoCr');
                let partyNameElCoCr = partyCodeElCoCr.parentElement.nextElementSibling.firstElementChild;
                let ACCodeElCoCr = partyNameElCoCr.parentElement.nextElementSibling.firstElementChild;
                let ACNameElCoCr = ACCodeElCoCr.parentElement.nextElementSibling.firstElementChild;
                let drAmountCoCr= ACNameElCoCr.parentElement.nextElementSibling.firstElementChild;
                let crAmountCoCr = drAmountCoCr.parentElement.nextElementSibling.firstElementChild;

                let packedornotCost=$js('packtypecost').value;
                var Costpacksiz=parseFloat($js('packSize').value);
                var CoststdUnitPrice=parseFloat($js('stdUnitPrice').value);
                var CostnoOfPackcost=parseFloat($js('noOfPackcost').value);
                let costtotalQuantity=CostnoOfPackcost*Costpacksiz;
                let coststdunit=$js('stdUnit');
                let totalPriceTKCost=CostnoOfPackcost*Costpacksiz*CoststdUnitPrice;

                if (partyCodeElCo.value == "") {
                    $('#notification').html("<h6>Party Code Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    partyCodeElCo.focus();
                    return;
                }
                else if (partyNameElCo.value == "") {
                    $('#notification').html("<h6>Party Name Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    partyCodeElCo.focus();
                    return;
                }
                else if (ACCodeElCo.value == "") {
                    $('#notification').html("<h6>Account Code Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    ACCodeElCo.focus();
                    return;
                }
                else if (ACNameElCo.value == "") {
                    $('#notification').html("<h6>Account Name Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    ACCodeElCo.focus();
                    return;
                }
                else if (partyCodeElCoCr.value == "") {
                    $('#notification').html("<h6>FG Code Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    partyCodeElCoCr.focus();
                    return;
                }
                else if (partyNameElCoCr.value == "") {
                    $('#notification').html("<h6>Finished Good Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    partyCodeElCoCr.focus();
                    return;
                }
                else if (ACCodeElCoCr.value == "") {
                    $('#notification').html("<h6>Account Code Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    ACCodeElCoCr.focus();
                    return;
                }
                else if (ACNameElCoCr.value == "") {
                    $('#notification').html("<h6>Account Name Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    ACCodeElCoCr.focus();
                    return;
                }
                else if(coststdunit.value == ""){
                $('#notification').html("<h6>Standard Unit Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                salestdunit.focus();
                return;
                }
                else if (totalPriceTKCost.value == "") {
                    $('#notification').html("<h6>Total Pirce Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    totalPriceTKCost.focus();
                    return;
                }
                else if (description.value == "") {
                    $('#notification').html("<h6>Description Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(300).fadeOut(200);
                    description.focus();
                    return;
                }

                let debitinCOst = {
                    type: 'Dr',
                    partyCode: partyCodeElCo.value,
                    partyName: partyNameElCo.value,
                    ACCode: ACCodeElCo.value,
                    ACName: ACNameElCo.value,
                    drAmount: commaToNum(drAmountCo.value),
                    totalPriceTK:totalPriceTKCost  
                }
                let ACCodesCOst=[];
                let debitCreditCost=[];
                let partycodeCost=[];
                //$print(debitinCOst);
                ACCodesCOst.push(ACCodeElCo.value);
                debitCreditCost.push(debitinCOst);
                partycodeCost.push(partyCodeElCo.value);


                let CreditnCOst = {
                    type: 'Cr',
                    partyCode: partyCodeElCoCr.value,
                    partyName: partyNameElCoCr.value,
                    ACCode: ACCodeElCoCr.value,
                    ACName: ACNameElCoCr.value,
                    crAmount: commaToNum(crAmountCoCr.value),
                    stdUnit:coststdunit.value,
                    stdUnitPrice:CoststdUnitPrice,
                    packType:packedornotCost,
                    packs:CostnoOfPackcost,
                    packSize:Costpacksiz,
                    totalQuantity:costtotalQuantity,
                    totalPriceTK:totalPriceTKCost
                }
                //$print(CreditnCOst);
                ACCodesCOst.push(ACCodeElCoCr.value);
                debitCreditCost.push(CreditnCOst);
                partycodeCost.push(partyCodeElCoCr.value);

        let CostofGood = {
            entryNo: parseInt(entryNo.value)+1,
            voucherNo: parseInt(voucherNo.value),
            date: dateToNum(date.value),
            debitCredit: debitCreditCost,
            ACCodes: ACCodesCOst,
            partyCodes:partycodeCost,
            description: description.value,
            formName:'Sales Return (Cost of Good Sold)',
            uId:firebase.auth().currentUser.uid,
            flagPrejournal:0
        }
        function clearFields2() {
                    
                let partyCodeElCo = $js('drPartyCodeSaleCo');
                let partyNameElCo = partyCodeElCo.parentElement.nextElementSibling.firstElementChild;
                let ACCodeElCo = partyNameElCo.parentElement.nextElementSibling.firstElementChild;
                let ACNameElCo = ACCodeElCo.parentElement.nextElementSibling.firstElementChild;
                let drAmountCo = ACNameElCo.parentElement.nextElementSibling.firstElementChild;
                let crAmountCo = drAmountCo.parentElement.nextElementSibling.firstElementChild;
                clearer(partyCodeElCo,partyNameElCo,ACCodeElCo,ACNameElCo,drAmountCo);

                let partyCodeElCoCr = $js('drPartyCodeSaleCoCr');
                let partyNameElCoCr = partyCodeElCoCr.parentElement.nextElementSibling.firstElementChild;
                let ACCodeElCoCr = partyNameElCoCr.parentElement.nextElementSibling.firstElementChild;
                let ACNameElCoCr = ACCodeElCoCr.parentElement.nextElementSibling.firstElementChild;
                let drAmountCoCr= ACNameElCoCr.parentElement.nextElementSibling.firstElementChild;
                let crAmountCoCr = drAmountCoCr.parentElement.nextElementSibling.firstElementChild;
                clearer(partyCodeElCoCr,partyNameElCoCr,ACCodeElCoCr,ACNameElCoCr,crAmountCoCr);
                
            clearer(voucherNo, date, description);
           
            $js('packSize').value = "";
            $js('stdUnitPrice').value = "";
            $js('noOfPackcost').value = "";
            $js('stdUnit').value = "";
            $js('CostCostDrAmount').innerHTML = "";
            $js('CostCostCrAmount').innerHTML = "";
            $js('totalPriceA').value = "";
            $js('totalQuantity').value = "";
            
            $js('submitBtn').disabled = true;
            
        }
        function clearFields1() {
            
            let partyCodeEl = $js('drPartyCodeSale');
            let partyNameEl = partyCodeEl.parentElement.nextElementSibling.firstElementChild;
            let ACCodeEl = partyNameEl.parentElement.nextElementSibling.firstElementChild;
            let ACNameEl = ACCodeEl.parentElement.nextElementSibling.firstElementChild;
            let drAmount = ACNameEl.parentElement.nextElementSibling.firstElementChild;
            let crAmount = drAmount.parentElement.nextElementSibling.firstElementChild;
                clearer(partyCodeEl, partyNameEl, ACCodeEl, ACNameEl, drAmount);
           
            
            let partyCodeElCr =$js('CostCRPartyCode');;
            let partyNameElCr = partyCodeElCr.parentElement.nextElementSibling.firstElementChild;
            let ACCodeElCr = partyNameElCr.parentElement.nextElementSibling.firstElementChild;
            let ACNameElCr = ACCodeElCr.parentElement.nextElementSibling.firstElementChild;
            let drAmountCr = ACNameElCr.parentElement.nextElementSibling.firstElementChild;
            let crAmountCr = drAmountCr.parentElement.nextElementSibling.firstElementChild;
            clearer(partyCodeElCr,partyNameElCr,ACCodeElCr,ACNameElCr,crAmountCr);
                
        
        //$print( $js('stdUnitSale').value);
        
        $js('stdUnitSale').value = "";
        //$print( $js('stdUnitSale').value);
        $js('unitPrice').value = "";
        $js('packSizeSale').value = "";
        $js('noOfPack').value = "";
        $js('totalQuantitySale').value = "";
        $js('totalPriceASale').value = "";
        $js('SalesTotalDrAmount').innerHTML = "";
        $js('SalesTotalCrAmount').innerHTML = "";
        document.getElementById('voucherNo').focus();
        
    }
        //console.log(sales);
        //console.log(CostofGood);
        clearFields1();
        clearFields2();
        // Firestore Store
        formDataToFire("JournalForm", entryNo.value, sales,clearFields1);

        
       var x= parseInt(entryNo.value)+1;
       var numtostring=x.toString();
        formDataToFire("JournalForm", numtostring, CostofGood, clearFields2);
        // let salesForm = lsExGJInit('salesForm', []);
        // salesForm.push(sales);
        // lsSetJ('salesForm', salesForm);
    });
</script>