<div class="overlay-container">
    <div class="overlay">
        <div class="margin-auto chart-box">
            <section class="clearfix">
                <label class="ch-title mian-color w3-large ex-font"
                    style="float: left; margin-top: 8px;">{{title}}s</label>
                <button id="plusBtn"
                    onclick="document.getElementById('id01').style.display='block';$js('submitChBtn').innerHTML = 'Submit';$js('chACCode').focus();"
                    class="w3-xlarge w3-circle w3-white circle-btn" style="float: right;">+</button>
                <!-- <button class="w3-btn w3-xlarge w3-circle w3-white circle-btn"><i class="fa fa-edit"></i></button> -->
                <button ng-show="load" style="margin-left: 12px;"
                    class="w3-xlarge w3-circle w3-white circle-btn PDF_Btn"><i class="fa fa-print"></i></button>
            </section>
            <div class="w3-card-4 table-container">
                <div class="ch-table-content">
                    <div class="w3-responsive">
                        <table class="w3-table-all chart-tables">
                            <thead>
                                <tr class="main-bg-color">
                                    <th>ID</th>
                                    <th>A/C Code</th>
                                    <th>Party Name</th>
                                    <th ng-if="userInfo.c_4_e">Edit</th>
                                    <th ng-if="userInfo.c_4_d">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ch in comCh | orderBy : 'code' track by $index">
                                    <td>{{$index + 1}}</td>
                                    <td>{{ch.code}}</td>
                                    <td>{{ch.name}}</td>
                                    <td ng-if="userInfo.c_4_e">
                                        <button id="{{ch.code}}e" onclick="editView(this.id)"
                                            class="w3-btn w3-blue">Edit</button>
                                    </td>
                                    <td ng-if="userInfo.c_4_d">
                                        <button id="{{ch.code}}" onclick="getDbId(event)"
                                            class="w3-btn w3-red">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="!load" class="w3-pale-blue" style="padding: 12px; text-align: center;"><img
                                src="img/loader.gif" alt="Loading..." style="height: 25px; width: 25px;"></div>
                        <div id="nodata" ng-show="nodata" class="w3-pale-blue"
                            style="padding: 12px; text-align: center;">No Data Found!</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Confirmation diallog start -->
        <div id="confirmDel" class="w3-modal">
            <div class="w3-modal-content div-box w3-animate-zoom w3-card-4" style="width: 450px;">
                <header class="w3-container main-bg-color div-title">
                    <span onclick="$js('confirmDel').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                    <h2>Confirm Delete?</h2>
                </header>
                <div class="w3-container">
                    <p>Deleting this account will not remove name from journal account name.</p>
                    <p>And no more suggestion is available for this account code until you create new one.</p>
                </div>
                <footer class="w3-container w3-white">
                    <p class="flex" style="justify-content: center;">
                        <button onclick="removeChart('com_heads', onDel)" class="w3-btn w3-red"
                            style="margin-left: 20px; margin-right: 20px;">Confirm
                            Delete</button>
                        <button onclick="$js('confirmDel').style.display='none'" class="w3-btn main-bg-color"
                            style="margin-left: 20px; margin-right: 20px;">Cancel</button>
                    </p>
                </footer>
            </div>
        </div>
        <!-- Confirmation diallog end -->
        <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom" style="background-color: transparent;">
                <div class="div-box w3-light-gray w3-card-4 margin-auto">
                    <div class="w3-container main-bg-color div-title">
                        <span onclick="exitModel();clearFields();" class="w3-button w3-display-topright">&times;</span>
                        <h2>{{title}}</h2>
                    </div>
                    <div class="w3-container">
                        <form id="form1">

                            <div class="w3-row w3-section">
                                <div class="w3-col" style="width:150px; padding: 10px;">
                                    <label class="w3-medium">A/C Code</label>
                                </div>
                                <div class="w3-rest">
                                    <input class="w3-input w3-border" type="text" name="" id="chACCode" required>
                                </div>
                            </div>
                            <div class="w3-row w3-section">
                                <div class="w3-col" style="width:150px; padding: 10px;">
                                    <label class="w3-medium">Party Name</label>
                                </div>
                                <div class="w3-rest">
                                    <input class="w3-input w3-border" type="text" name="" id="chPartyName" required>
                                </div>
                            </div>
                            <p class="clearfix">
                                <button id="submitChBtn" class="w3-btn main-bg-color"
                                    style="float: right;">Submit</button>
                            </p>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- End the journy -->
    </div>
</div>
<!-- Pdf print hide table...........start.................. -->
<div style="display: none;">
    <table border="1" cellspacing="0" style="visibility: hidden;" id="PdfTable">
        <thead>
            <tr>
                <td colspan="3" style="text-align: center; height: 50px; font-size: 25px;"><span>COMPANY
                        HEADS</span><img style="width: 50px; height: 50px; float: right;" src="/img/logo3.png"></td>
            </tr>
            <tr class="main-bg-color">
                <th>ID</th>
                <th>A/C Code</th>
                <th>Party Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ch in comCh | orderBy : 'code' track by $index">
                <td>{{$index + 1}}</td>
                <td>{{ch.code}}</td>
                <td>{{ch.name}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Pdf print hide table...........end.................. -->
<script>
    var dbCh = null;
    $(document).keypress(function (event) {
        if (event.shiftKey && event.which == 43) {
            event.preventDefault();
            $('#plusBtn').click();
        }
    });

    $js("form1").addEventListener("submit", function (event) {
        event.preventDefault();
    });
    $js('submitChBtn').addEventListener('click', function () {
        submitChBtn();
    });
    /// edit data show in field start........................

    var editTriget = 0;
    var dbDataCode = "";
    var dbID = "";

    function editView(ID) {
        $js('submitChBtn').innerHTML = 'Update';
        document.getElementById('id01').style.display = 'block';
        var id = ID.slice(0, -1);
        editTriget = 1;
        axios.get(apiUrl + 'chart/com_heads/' + id)
        .then(function (res) {
            let dbData = res.data[0];
            $js('chACCode').value = dbData.code;
            $js('chPartyName').value = dbData.name;
        })
        .catch(function (error) {
            notify(error.message, 2);
        });
    }

    /// edit data show in field end........................
    function submitChBtn() {
        var chACCode = $js('chACCode').value;
        var chPartyName = $js('chPartyName').value;
        if (chACCode == "") {
            $('#notification').html("<h6>Account Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        } else if (chPartyName == "") {
            $('#notification').html("<h6>Party Name Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        }

        var ch = {
            code: chACCode,
            name: chPartyName,
            type: 0
        };

        if (editTriget == 1){
            updateChart('com_heads', ch, clearFields);
        }
        else {
            editTriget = 0;
            if(!insertChart('com_heads', ch, clearFields)) return;
        }

        exitModel();
    }

    function clearFields() {
        $js('chACCode').value = $js('chPartyName').value = "";
    }

    function printCh() {
        $print("print");
        var ws = XLSX.utils.table_to_sheet(document.getElementById('comHeadTable'), {
            cellDates: true
        });
        // var wscols = [
        //     { wch: 4 },
        //     { wch: 12 },
        //     { wch: 20 },
        //     { wch: 20 },
        //     { wch: 14 },
        //     { wch: 40 }
        // ];
        // var wsrows = [
        //     {
        //         hpx: 24,
        //         level: 2
        //     }
        // ];
        // ws['!cols'] = wscols;
        // ws['!rows'] = wsrows;
        XLSX.utils.book_append_sheet(wb, ws, 'Company Heads');
        var wbout = XLSX.write(wb, {
            bookType: 'xlsx',
            bookSST: true,
            type: 'binary'
        });

        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        saveAs(new Blob([s2ab(wbout)], {
            type: "application/octet-stream"
        }), 'Company_Heads.xlsx');
    }

    // Delete data start......................
    var onDel = '';

    function getDbId(e) {
        console.log("ok click");
        $js('confirmDel').style.display = 'block';
        onDel = e.target.id;
    }
    // Delete data end......................
    //pdf making and save............................Start....................
    $('.PDF_Btn').click(function () {
        location.reload();
        $js('PdfTable').style.visibility = "visible";
        var printme = document.getElementById('PdfTable');
        var wme = window.open("", "", "width=900,height=900");
        wme.document.write(printme.outerHTML);
        wme.document.close();
        wme.focus();
        wme.print();
        wme.close();
        $js('PdfTable').style.visibility = "hidden";

    })
    //pdf making and save............................End......................
    //Print in Landscape...........start........
    var css = '@page { size: landscape; }',
        head = document.head || document.getElementsByTagName('head')[0],
        style = document.createElement('style');

    style.type = 'text/css';
    style.media = 'print';

    if (style.styleSheet) {
        style.styleSheet.cssText = css;
    } else {
        style.appendChild(document.createTextNode(css));
    }

    head.appendChild(style);
    //Print in Landscape...........end........
</script>