<div class="overlay-container">
    <div class="overlay">
        <div class="margin-auto chart-box">

            <section class="clearfix">
                <label class="ch-title mian-color w3-large ex-font" style="float: left; margin-top: 8px;">{{title}}s</label>
                <button id="plusBtn" onclick="document.getElementById('id01').style.display='block';$js('submitButton').innerHTML = 'Submit';$js('recACCode').focus();" class="w3-xlarge w3-circle w3-white circle-btn" style="float: right;">+</button>
                <!-- <button class="w3-btn w3-xlarge w3-circle w3-white circle-btn"><i class="fa fa-edit"></i></button> -->
                <button ng-show="load" style="margin-left: 12px;" class="w3-xlarge w3-circle w3-white circle-btn PDF_Btn"><i class="fa fa-print"></i></button>
            </section>

            <div class="w3-card-4 table-container">
                <div class="ch-table-content">
                    <div class="w3-responsive">
                        <table class="w3-table-all chart-tables">
                            <thead>
                                <tr class="main-bg-color">
                                    <th>ID</th>
                                    <th>Party Code</th>
                                    <th>Party Name</th>
                                    <th>Party Type</th>
                                    <th>Propritor Name</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th ng-hide="!(begBalPer.$value == 1 || userInfo.uc)">Beginning Balance</th>
                                    <th ng-if="userInfo.c_2_e" name="debEdt">Edit</th>
                                    <th ng-if="userInfo.c_2_d" name="debDel">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="rec in comReceivables | orderBy : 'code' track by $index">
                                    <td>{{$index + 1}}</td>
                                    <td>{{rec.code}}</td>
                                    <td>
                                        <a href="#debitorledger?code={{rec.code}}&name={{rec.name}}&email={{rec.email}}" style="color: blue; cursor: pointer;">{{rec.name}}</a>
                                    </td>
                                    <td>{{rec.cusType}}</td>
                                    <td>{{rec.recProprietor}}</td>
                                    <td>{{rec.mobile}}</td>
                                    <td class="email-field">{{rec.email}}</td>
                                    <td>{{rec.address}}</td>
                                    <td ng-hide="!(begBalPer.$value == 1 || userInfo.uc)">{{comNum(rec.balance)}}</td>
                                    <td ng-if="userInfo.c_2_e" name="debEdt1">
                                        <button id="{{rec.$id}}e" onclick="editView(this.id)" class="w3-btn w3-blue">Edit</button>
                                    </td>
                                    <td ng-if="userInfo.c_2_d" name="debDel1">
                                        <button id="{{rec.$id}}" onclick="getDbId(event)" class="w3-btn w3-red">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="!load" class="w3-pale-blue" style="padding: 12px; text-align: center;"><img src="img/loader.gif" alt="Loading..." style="height: 25px; width: 25px;"></div>
                        <div id="nodata" ng-show="nodata" class="w3-pale-blue" style="padding: 12px; text-align: center;">No Data Found!</div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Confirmation diallog start -->
        <div id="confirmDel" class="w3-modal">
            <div class="w3-modal-content div-box w3-animate-zoom w3-card-4" style="width: 450px;">
                <header class="w3-container main-bg-color div-title">
                    <span onclick="$js('confirmDel').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <h2>Confirm Delete?</h2>
                </header>
                <div class="w3-container">
                    <p>Deleting this account will not remove name from journal account name.</p>
                    <p>And no more suggestion is available for this account code until you create new one.</p>
                </div>
                <footer class="w3-container w3-white">
                    <p class="flex" style="justify-content: center;">
                        <button onclick="rmItem(onDel);" class="w3-btn w3-red" style="margin-left: 20px; margin-right: 20px;">Confirm
                            Delete</button>
                        <button onclick="$js('confirmDel').style.display='none'" class="w3-btn main-bg-color" style="margin-left: 20px; margin-right: 20px;">Cancel</button>
                    </p>
                </footer>
            </div>
        </div>
        <!-- Confirmation diallog end -->
        <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom" style="background-color: transparent;">
                <div class="div-box w3-light-gray w3-card-4 margin-auto">
                    <div class="w3-container main-bg-color div-title">
                        <span onclick="exitModel();clearFields();" class="w3-button w3-display-topright">&times;</span>
                        <h2>Debtor</h2>
                    </div>
                    <div class="w3-container">
                        <form id="form1">

                            <div class="w3-row w3-section">
                                <div class="w3-col" style="width:150px; padding: 10px;">
                                    <label class="w3-medium">Party Code</label>
                                </div>
                                <div class="w3-rest">
                                    <input class="w3-input w3-border" type="text" name="" id="recACCode" required>
                                </div>
                            </div>
                            <div class="w3-row w3-section">
                                <div class="w3-col" style="width:150px; padding: 10px;">
                                    <label class="w3-medium">Party Name</label>
                                </div>
                                <div class="w3-rest">
                                    <input class="w3-input w3-border" type="text" name="" id="recPartyName" required>
                                </div>
                            </div>
                            <div class="w3-row w3-section">
                                <div class="w3-col" style="width:150px; padding: 10px;">
                                    <label class="w3-medium">Party Type</label>
                                </div>
                                <div class="w3-rest">
                                    <input class="w3-input w3-border" type="text" name="" id="recCustomerType" required>
                                </div>
                            </div>
                            <div class="w3-row w3-section">
                                <div class="w3-col" style="width:150px; padding: 10px;">
                                    <label class="w3-medium">Proprietor Name</label>
                                </div>
                                <div class="w3-rest">
                                    <input class="w3-input w3-border" type="text" name="" id="recProprietor" required>
                                </div>
                            </div>
                            <div class="w3-row w3-section">
                                <div class="w3-col" style="width:150px; padding: 10px;">
                                    <label class="w3-medium">Mobile No</label>
                                </div>
                                <div class="w3-rest" style="position: relative;">
                                    <input class="w3-input w3-border phone" type="text" name="" id="recMObileNo" required>
                                    <span class="phone">+8801</span>
                                </div>
                            </div>
                            <div class="w3-row w3-section">
                                <div class="w3-col" style="width:150px; padding: 10px;">
                                    <label class="w3-medium">Email</label>
                                </div>
                                <div class="w3-rest">
                                    <input class="w3-input w3-border" type="text" name="" id="recEmail" required>
                                </div>
                            </div>
                            <div class="w3-row w3-section">
                                <div class="w3-col" style="width:150px; padding: 10px;">
                                    <label class="w3-medium">Address</label>
                                </div>
                                <div class="w3-rest">
                                    <textarea class="w3-input w3-border" name="" id="recAddress" rows="2" required></textarea>
                                </div>
                            </div>
                            <div class="w3-row w3-section">
                                <div class="w3-col" style="width:150px; padding: 10px;">
                                    <label class="w3-medium">Beginning Balance</label>
                                </div>
                                <div class="w3-rest">
                                    <input class="w3-input w3-border comma-num-minus" type="text" name="" id="begBal" required>
                                </div>
                            </div>
                            <p class="clearfix">
                                <button id="submitButton" class="w3-btn main-bg-color" style="float: right;">Submit</button>
                            </p>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- End of the journy -->
    </div>

</div>
<!-- Pdf print hide table...........start.................. -->

<div style="display: none;">
    <table border="1" cellspacing="0" style="visibility: hidden;" id="PdfTable">
        <thead>
            <tr>
                <td colspan="9" style="text-align: center; height: 50px; font-size: 25px;"><span>DEBTORS</span><img style="width: 50px; height: 50px; float: right;" src="/img/logo3.png"></td>
            </tr>
            <tr>

                <th>ID</th>
                <th>Party Code</th>
                <th>Party Name</th>
                <th>Party Type</th>
                <th>Propritor Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Address</th>
                <th ng-hide="!(begBalPer.$value == 1 || userInfo.uc)">Beginning Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rec in comReceivables | orderBy : 'code' track by $index">
                <td>{{$index + 1}}</td>
                <td>{{rec.code}}</td>
                <td>{{rec.name}}</td>
                <td>{{rec.cusType}}</td>
                <td>{{rec.recProprietor}}</td>
                <td>{{rec.mobile}}</td>
                <td>{{rec.email}}</td>
                <td>{{rec.address}}</td>
                <td ng-hide="!(begBalPer.$value == 1 || userInfo.uc)">{{comNum(rec.balance)}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Pdf print hide table...........end.................. -->
<script>
    var dbReceivables = null;
    $(document).keypress(function(event) {
        if (event.shiftKey && event.which == 43) {
            event.preventDefault();
            $('#plusBtn').click();
        }
    });

    $js('recMObileNo').onkeypress = mobilePress;

    function mobilePress(e) {
        if (e.target.value.length > 8) {
            e.preventDefault();
            return;
        }
        numValidate(e);
    }

    $js("form1").addEventListener("submit", function(event) {
        event.preventDefault();
    });
    $js('submitButton').addEventListener('click', function() {
        submitRecBtn();
    });
    ///  press enter button submit ----End

    /// edit data show in field start........................

    $('input.comma-num-minus').keyup(commaNumMakerMinus);

    var editTriget = 0;
    var dbDataCode = "";
    var dbID = "";

    function editView(ID) {
        $js('submitButton').innerHTML = 'Update';
        document.getElementById('id01').style.display = 'block';
        var id = ID.slice(0, -1);
        dbID = ID.slice(0, -1);
        editTriget = 1;
        console.log(id, editTriget);
        getRef('receivables/' + id).on('value', function(snapshot) {
            let dbData = snapshot.val();
            //console.log(dbData);

            dbDataCode = dbData.code; ///   from database code grip to control notification...............

            $js('recACCode').value = dbData.code;
            $js('recPartyName').value = dbData.name;
            $js('recCustomerType').value = dbData.cusType;
            $js('recProprietor').value = dbData.recProprietor;
            $js('recMObileNo').value = dbData.mobile.slice(5);
            $js('recEmail').value = dbData.email;
            $js('recAddress').value = dbData.address;
            $js('begBal').value = numToComma(dbData.balance);
        });
    }

    /// edit data show in field end........................


    function submitRecBtn() {
        var recACCode = $js('recACCode').value;
        var recPartyName = $js('recPartyName').value;
        var recCustomerType = $js('recCustomerType').value;
        var recProprietor = $js('recProprietor').value;
        var recMObileNo = $js('recMObileNo').value;
        var recEmail = $js('recEmail').value;
        var recAddress = $js('recAddress').value;
        var begBal = $js('begBal').value;
        if (recACCode == "") {
            $('#notification').html("<h6>Account Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        } else if (recPartyName == "") {
            $('#notification').html("<h6>Party Name Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        } else if (recCustomerType == "") {
            $('#notification').html("<h6>Customer Type Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        } else if (recProprietor == "") {
            $('#notification').html("<h6>Proprietor Name Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        } else if (recMObileNo == "") {
            $('#notification').html("<h6>Mobile No Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        } else if (recEmail == "" || recEmail.indexOf('@') == -1 || recEmail.indexOf('.') == -1) {
            notify('Email Empty or Not Currect!', 2);
            $js('recEmail').focus();
            return;
        } else if (recAddress == "") {
            $('#notification').html("<h6>Address Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        } else if (begBal == "") {
            $('#notification').html("<h6>Beginning Balance Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        }

        var receive = {
            code: recACCode,
            name: recPartyName,
            cusType: recCustomerType,
            recProprietor: recProprietor,
            mobile: '+8801' + recMObileNo,
            email: recEmail,
            address: recAddress,
            balance: commaToNum(begBal),
            actype: 1


        };
        console.log(receive);

        if (editTriget == 1 && dbDataCode == recACCode) {
            editTriget = 0;
            db.child('receivables/' + dbID).update(receive, function(error) {
                if (error) {
                    $('#notification').html("<h6>Something Went Wrong in Database!</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
                } else {
                    $('#notification').html("<h6>Added Sucessfully</h6>").removeClass('w3-red').addClass('w3-green').fadeIn(200).delay(300).fadeOut(200);
                    $js('nodata').style.display = "none";
                    clearFields();

                }
            });
        } else if (editTriget == 1 && dbDataCode != recACCode) {

            for (i = 0; i < dbReceivables.length; i++) {
                if (recACCode == dbReceivables[i].code) {
                    $('#notification').html("<h6>Code Already Used in Another Account!</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
                    $js('recACCode').focus();
                    return;
                }
            }
            editTriget = 0;
            db.child('receivables/' + dbID).update(receive, function(error) {
                if (error) {
                    $('#notification').html("<h6>Something Went Wrong in Database!</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
                } else {
                    $('#notification').html("<h6>Added Sucessfully</h6>").removeClass('w3-red').addClass('w3-green').fadeIn(200).delay(300).fadeOut(200);
                    $js('nodata').style.display = "none";
                    clearFields();

                }
            });
        } else {
            editTriget = 0;
            for (i = 0; i < dbReceivables.length; i++) {
                if (recACCode == dbReceivables[i].code) {
                    $('#notification').html("<h6>Code Already Used in Another Account!</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
                    $js('recACCode').focus();
                    return;
                }
            }
            db.child('receivables').push(receive, function(error) {
                if (error) {
                    $('#notification').html("<h6>Something Went Wrong in Database!</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
                } else {
                    $('#notification').html("<h6>Added Sucessfully</h6>").removeClass('w3-red').addClass('w3-green').fadeIn(200).delay(300).fadeOut(200);
                    $js('nodata').style.display = "none";
                    clearFields();

                }
            });
        }
        exitModel();
    }

    function clearFields() {
        clearer(recACCode, recPartyName, recCustomerType, recProprietor, recMObileNo, recEmail, recAddress, begBal);
    }

    function printReceivables() {
        $print("print");
        var ws = XLSX.utils.table_to_sheet(document.getElementById('receivesTable'), {
            cellDates: true
        });
        var wscols = [{
            wch: 4
        }, {
            wch: 12
        }, {
            wch: 20
        }, {
            wch: 20
        }, {
            wch: 14
        }, {
            wch: 40
        }];
        var wsrows = [{
            hpx: 24,
            level: 2
        }];
        ws['!cols'] = wscols;
        ws['!rows'] = wsrows;
        XLSX.utils.book_append_sheet(wb, ws, 'Receivables');
        var wbout = XLSX.write(wb, {
            bookType: 'xlsx',
            bookSST: true,
            type: 'binary'
        });
        saveAs(new Blob([s2ab(wbout)], {
            type: "application/octet-stream"
        }), 'Receivables.xlsx');
    }
    // Delete data start......................
    var onDel = '';

    function getDbId(e) {
        console.log("ok click");
        $js('confirmDel').style.display = 'block';
        onDel = e.target.id;
    }

    function rmItem(dbId) {
        getRef('receivables').child(dbId).remove()
            .then(function(sucess) {
                $js('confirmDel').style.display = 'none';
                notify('Deleted Sucessfully', 1);
            })
            .catch(function(err) {
                notify(err, 2);
            });
    }
    // Delete data end......................

    //pdf making and save............................Start....................
    $('.PDF_Btn').click(function() {
            location.reload();
            $js('PdfTable').style.visibility = "visible";
            var printme = document.getElementById('PdfTable');
            var wme = window.open("", "", "width=900,height=900");
            wme.document.write(printme.outerHTML);
            wme.document.close();
            wme.focus();
            wme.print();
            wme.close();
            $js('PdfTable').style.visibility = "hidden";

        })
        //pdf making and save............................End......................
        //Print in Landscape...........start........
    var css = '@page { size: landscape; }',
        head = document.head || document.getElementsByTagName('head')[0],
        style = document.createElement('style');

    style.type = 'text/css';
    style.media = 'print';

    if (style.styleSheet) {
        style.styleSheet.cssText = css;
    } else {
        style.appendChild(document.createTextNode(css));
    }

    head.appendChild(style);
    //Print in Landscape...........end........
</script>